# Eclipse/IntelliJ-specific files
.settings/
.classpath
.project
test-output/


# Maven/Gradle target folders and other build outputs
target/
build/

# OS-specific files
.DS_Store

# Any other temporary files
*.log
